root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{ts,vue,js,json,css,scss,yml,yaml,md}]
indent_style = space
indent_size = 2
max_line_length = 100

[*.java]
indent_style = space
indent_size = 2
max_line_length = 100

[*.sql]
indent_style = space
indent_size = 2
max_line_length = 100

[*.xml]
indent_style = space
indent_size = 2
